.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: aqua; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}


.app h1 {
  text-align: center;
  color: green;
  margin-bottom: 30px;
}
.counter {
  border: 2px solid #e1e5e9;
  border-radius: 15px;
  padding: 30px;
  margin: 50px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

.counter h2 {
  margin: 0 0 20px 0;
  color: red;
}
.counter-display {
  margin: 20px 0;
}

.counter-number {
  font-size: 5rem;
  font-weight: bold;
  color: #667eea;
  display: inline-block;
  min-width: 100px;
}

.counter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.counter-buttons button {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: #10a9bd;
  color: white;
  cursor: pointer;
  transition: all 0.2 ease;
}

.counter-buttons button:active {
  transform: scale(0.95);
}


.text-input {
  background: white;
  border: 2px solid #e1e5e9;
  border-radius: 15px;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 

.text-input h2 {
  margin: 0 0 20px 0;
  color: red;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.text-field {
  flex: 1;
  padding: 12px 16px;
  font-size: 1.1rem;
  border: 2px solid #e1e5e9;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}

.text-field:focus {
  border-color: #337eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.clear-btn {
  padding: 12px 20px;
  background: #e53e3e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease;
}

.clear-btn:hover {
  background: #c53030;
  transform: translateY(-2px);
}

.clear-btn:active {
  transform: translateY(0);
  background: #9b2c2c;
}

.text-display {
  background: #f7fafc;
  padding: 20px;
  border-radius: 8px;
  border-left: 4px solid #667eea;
}

.text-display p {
  margin: 10px 0;
  color: #4a5568;
} */

